<?xml version="1.0" encoding="utf-8"?>
<!--
    FILENAME:       AndroidManifest.xml
    DATE:           2020-08-30
    PROGRAMMER:     Jack Parkinson
    DESCRIPTION:
        The manifest XML file for the Poker Tracker app.  It defines some basic information about
        the application and its activities.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="poker.jp.pokertracker"
    android:versionCode="2"
    android:versionName="1.0.0">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="poker.jp.pokertracker.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>